{% extends 'base.html' %}

{% block title %}Add a Ride | TrempMate {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/total.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block js %}
    <script src={{ url_for('static', filename='js/project.js') }}></script>
{% endblock %}

{% block main %}
    <div class="gridContainer">
        <!-- header -->
        <header class="header"><p class="typingEffect">Add a Ride</p></header>

        <!-- main -->
        <main class="main">

            <!-- message -->
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <br>

            <form action="/submitARide" method="post">
                <label for="goesFrom"></label>
                <select name="goesFrom" id="goesFrom" class="feedback-input" required>
                    <option value="" disabled selected>From:</option>
                    {% for city in cities %}
                        <option value="{{ city.city }}">{{ city.city }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="dropAt"></label>
                <select name="dropAt" id="dropAt" class="feedback-input" required>
                    <option value="" disabled selected>Drop at:</option>
                    {% for city in cities %}
                        <option value="{{ city.city }}">{{ city.city }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="price"></label>
                <input type="number" name="price" id="price" placeholder="Price:" class="feedback-input"> <br>
                <label for="rideDate"></label>
                <input type="date" name="rideDate" id="rideDate" placeholder="Ride date:" class="feedback-input"> <br>
                <label for="rideHour"></label>
                <input type="time" name="rideHour" id="rideHour" placeholder="Ride hour:" class="feedback-input"> <br>
                <label for="passengers"></label>
                <input type="number" name="passengers" id="passengers" placeholder="Passengers amount:"
                       class="feedback-input"> <br>
                <br>
                <input id="createRide" type="submit" value="Create a ride">
            </form>
            <br>

        </main>

    </div>
{% endblock %}
