{% extends 'base.html' %}

{% block title %}Contact | TrempMate {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/contactUs.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block main %}
    <div class="container" id="contact">

        <h1 class="typingEffect"> Contact Us</h1>
        <form action="/submitContactReq" method="post">
            <input name="contactEmail" type="text" class="feedback-input" placeholder="Email"/>
            <textarea name="contactDescription" class="feedback-input" placeholder="Tell us what you think"></textarea>
            <input type="submit" value="Submit"/>
        </form>

    </div>
{% endblock %}




