{% extends 'base.html' %}

{% block title %}Home Page | TrempMate {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/contactUs.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block main %}
    <div id="content">
        <h1 class="typingEffect">Hi TrempMate!</h1>
        <h2>Which jorney are you starting today?</h2>
        <div id="landingForm">
            <button><i class="fa fa-car"></i> <a href="{{ url_for('SearchARide.index') }}">Join a Ride</a></button>
            <br>
            <button><i class="fa fa-car"></i> <a href="{{ url_for('AddARide.index') }}">Create a Ride</a></button>
            <br>
            <button><i class="fa fa-history"></i> My History Rides</button>
        </div>
    </div>



{% endblock %}
