<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('Welcome.static', filename='css/Welcome.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeampMate | Welcome!</title>
</head>
<body>
<div class="container" id="container">

    <div class="form-container sign-up-container">
        <!-- sign up -->
        <form action="/signup" method="post">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="https://www.facebook.com/" class="social" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://myaccount.google.com/?utm_source=sign_in_no_continue" class="social" target="blank"><i
                        class="fa fa-google-plus"></i></a>
                <a href="https://www.linkedin.com/feed/" class="social" target="blank"><i
                        class="fa fa-linkedin"></i></a>
            </div>
            <span>Prefere using your email for registration?</span>
            <input type="text" id="fname" name="fname" placeholder="First Name"/>
            <input type="text" id="lname" name="lname" placeholder="Last Name"/>
            <input id="Gmail" name="Gmail" onblur="checkEmail('Gmail')" type="email" placeholder="*Email" required/>
            <input type="password" id="signuppass" name="signuppass" placeholder="*Password" required/>
            {#            {% if session.email %} <h5> Email already exists </h5> {% endif %}#}
            <div class="inline-container">
                <label for="remember">Remember me</label>
                <input type="checkbox" checked="checked" name="remember" id="remember"/>
            </div>
            <br>
            <input type="submit" class="button" value="Sign Up">
        </form>
    </div>

    <div class="form-container sign-in-container">
        <!-- sign in -->
        <form action="/signIn" method="post">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="https://www.facebook.com/" class="social" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://myaccount.google.com/?utm_source=sign_in_no_continue" class="social" target="blank"><i
                        class="fa fa-google-plus"></i></a>
                <a href="https://www.linkedin.com/feed/" class="social" target="blank"><i
                        class="fa fa-linkedin"></i></a>
            </div>
            <span>or use your account</span>
            <input id="email" name="email" onblur="checkEmail('email')" type="email" placeholder="Email"/>
            <input id="password" name="password" type="password" placeholder="Password"/>
{#            <a href="#" id="pass">Forgot your password?</a>#}
            <input type="submit" class="button" id="signToHome" placeholder="Sign In">
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back, TrempMate!</h1>
                <p>Where are we going today?</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">

                <!-- message -->
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}

                <h1>Not A Member Yet?<br> Ride With Us!</h1>
                <p>Enter your personal details so we can start our journey together</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('Welcome.static', filename='js/Welcome.js') }}"></script>

</body>
</html>