{% extends 'base.html' %}

{% block title %}Our Story | TrempMate {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/contactUs.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block main %}
    <div class="AboutUs">
        <h1 class="typingEffect"> About Us </h1>
        <p>
            When we created TrempMate platform we wanted to make sure that each student would have
            a safe and easy app to find his way home. <br>
            What started as a project in WEB course at the university
            has become a social enterprise that continues to grow more and more

        </p>
    </div>

{% endblock %}









