<!-- NavBar -->
<nav class="topnav">
    <a id="navHome" href="{{ url_for('LandingPage.redirect_homepage') }}" onclick="navCurrentTab('navHome')">
        <i class="fa fa-home"></i> Home
    </a>
    <a id="navProfile" href="{{ url_for('UserProfile.index') }}" onclick="navCurrentTab('navProfile')">
        <i class="fa fa-user"></i> My Profile
    </a>
    <a id="navSearch" href="{{ url_for('SearchARide.index') }}" onclick="navCurrentTab('navSearch')">
        <i class="fa fa-car"></i> Join a Ride
    </a>
    <a id="navAdd" href="{{ url_for('AddARide.index') }}" onclick="navCurrentTab('navAdd')">
        <i class="fa fa-plus"></i> Create a Ride
    </a>
    <a id="navContact" href="{{ url_for('ContactUs.contact') }}" onclick="navCurrentTab('navContact')">
        <i class="fa fa-comment"></i> Contact Us
    </a>
    <a href="{{ url_for('Welcome.welcome') }}">
        <i class="fa fa-sign-out"></i> Log Out
    </a>
</nav>
<br>