{% extends 'base.html' %}

{% block title %}Search a Ride | TrempMate {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/total.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block js %}
    <script src={{ url_for('static', filename='js/project.js') }}></script>
{% endblock %}

{% block main %}
<div class="gridContainer">

    <!-- header -->
    <header class="header"><p class="typingEffect">Search a Ride</p></header>

    <!-- main -->
    <main class="main">
        <!--About me - edit the action attribute!!! -->
        <form action="/showDetails" method="post">
            <label for="rideFrom"></label>
            <input type="search" name="rideFrom" id="rideFrom" placeholder="From: Choose starting point"
                   class="feedback-input"> <br>
            <label for="rideTo"></label>
            <input type="search" name="rideTo" id="rideTo" placeholder="To: Where do you want to go?"
                   class="feedback-input"> <br>
            <br>
            <label for="search"></label>
            <input type="button" name="search" id="search" class="buttonClass" value="Search my ride"
                   onclick=buttonVisibility("searchResults")>
        </form>
        <br>

        <!-- Results -->
        <div id="searchResults" class="feedback-input" style="visibility: hidden">
            Here goes the rides results
            <ul>
                <il><a href="../../RideDetails/templates/RideDetails.html">BGU-TLV Mall example</a></il>
            </ul>
        </div>
        <br>

    </main>

</div>

{% endblock %}