{% extends 'base.html' %}

{% block title %}Search a Ride | TrempMate {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/total.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block js %}
    <script src={{ url_for('static', filename='js/project.js') }}></script>
{% endblock %}

{% block main %}
    <div class="gridContainer">

        <!-- header -->
        <header class="header"><p class="typingEffect">Search a Ride</p></header>

        <!-- main -->
        <main class="main">
            <!--About me - edit the action attribute!!! -->
            <form action="/showDetails" method="post">
                <label for="rideFrom"></label>
                <select name="rideFrom" id="rideFrom" class="feedback-input" required>
                    <option value="" disabled selected>From:</option>
                    {% for city in cities %}
                        <option value="{{ city.city }}">{{ city.city }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="rideTo"></label>
                <select name="rideTo" id="rideTo" class="feedback-input" required>
                    <option value="" disabled selected>Drop at:</option>
                    {% for city in cities %}
                        <option value="{{ city.city }}">{{ city.city }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="date">When do you want to go?</label> <br>
                <input type="date" name="date" id="date" class="feedback-input" required> <br>
                <br>
                <label for="search"></label>
                <input type="submit" name="search" id="search" class="buttonClass" value="Search my ride">
            </form>
            <br>

            {% if showDetails %}
                <!-- Results -->
                <h1>Search Results</h1>
                <div id="searchResults" class="feedback-input">

                    <!-- message -->
                    {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}

                    {% if search != False %}
                        <ul>
                            {% for id in search %}
                                <il><a href="{{ url_for('RideDetails.index', tripID=id.trip_id) }}">Watch me</a></il>
                                <br>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br>
            {% endif %}

        </main>

    </div>

{% endblock %}